<%- include('partials/header') %>
  <h1>Welcome to Home page</h1>
  <p><%= startContent %></p>

  <% data.posts.forEach(post =>{ %>
    <h2><%= post.title %></h2>
    <p><%= post.content %></p>
  <% }) %>

<%- include('partials/footer') %>